<div class="profile-pic-container">
  <img class="profile-pic" src="@/../assets/face.png" alt="">
</div>
<h1 class="user-name">Someone someone</h1>
<h1 class="user-description">Hi, i'm using FaceCook</h1>
<div class="user-options-container">
  <div class="user-option-container flex">
    <img class="user-option-icon" src="@/../assets/icons/followers.png" alt="">
    <div class="user-option-text grid">
      <span class="user-option-name">Followers</span>
      <span class="user-option-info">15</span>
    </div>
  </div>
</div>
<div class="user-options-container">
  <div class="user-option-container flex">
    <img class="user-option-icon" src="@/../assets/icons/likeActive.png" alt="">
    <div class="user-option-text grid">
      <span class="user-option-name">Likes</span>
      <span class="user-option-info">15</span>
    </div>
  </div>
</div>
<div class="user-options-container">
  <div class="user-option-container flex">
    <img class="user-option-icon" src="@/../assets/icons/posts.png" alt="">
    <div class="user-option-text grid">
      <span class="user-option-name">Posts</span>
      <span class="user-option-info">15</span>
    </div>
  </div>
</div>
<div class="user-settings-option-container flex">
  <img class="user-settings-icon" src="@/../assets/icons/settingsBlack.png" alt="">
  <span class="user-settings-text">settings</span>
</div>
