:host {
  width: 18rem;
  height: 36rem ;
  background-color: var(--bg-secondary);
  margin-top: 6rem;
  box-shadow: 5px 5px 5px 0px grey;
  justify-items: center;
  justify-self: center;
  display: grid;
  margin-left: 0;
}

.profile-pic-container {
  border-radius: 100px;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px 0px grey;
  height: 10rem; width: 10rem;
  overflow: hidden;
  margin-top: 3rem;
}

.profile-pic {width: 10rem;}
.user-name {font-size: 1.5rem; margin-block-end: 0;}
.user-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--txt-clr-secondary);
}
.user-options-container:first-of-type {margin-top:1rem;}
.user-option-container {
  align-items: center;
  justify-content: flex-start;
  width: 13rem;
  gap: 2rem;
  border-bottom: 1px solid var(--txt-clr-secondary);
  padding-bottom: 1rem;
}
.user-option-icon {height: 1.7rem;}
.user-option-info {
  color: var(--txt-clr-secondary);
  margin-left: 2px;
}
.user-option-text {gap: .2rem;}

.user-settings-option-container {
  justify-content: flex-start;
  align-items: center;
}
.user-settings-icon {width: 2rem;}
.user-settings-text {color: var(--txt-clr-secondary)}

@media screen and (min-width: 820px) {
  :host {
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  :host {
  margin-left: calc(8rem + 7vw);
  justify-self: initial;
  }
}

