<div class="logo-wrapper">
  <img class="nav-icon" src="@/../assets/icons/logo.png" alt="">
</div>
<img class="nav-icon" src="@/../assets/icons/home.png" alt="">
<img class="nav-icon" src="@/../assets/icons/explore.png" alt="">
<div class="notif-icon-wrapper">
  <img class="nav-icon notif-icon" src="@/../assets/icons/notifications.png" alt="">
  <span class="notif-icon-notif">🔴</span>
</div>
<img class="nav-icon" src="@/../assets/icons/settings.png" alt="">
<img class="nav-icon" src="@/../assets/icons/profile.png" alt="">
