<div class="post-content flex">
  <video width="320" height="240" autoplay loop>
    <source src="@/../assets/placeHolder.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!--<img class="post-content" src="@/../assets/placeHolder.png">-->
</div>
<div class="post-buttons-container-wrapper flex">
  <div class="post-buttons-container flex">
    <img class="post-button" src="@/../assets/icons/like.png"/>
    <img class="post-button" src="@/../assets/icons/comment.png"/>
    <img class="post-button" src="@/../assets/icons/share.png"/>
  </div>
  <img class="post-button" src="@/../assets/icons/options.png"/>
</div>
