<div class="logo-wrapper">
  <a  routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img class="nav-icon" src="@/../assets/icons/logo.png" alt="">
  </a>
</div>
  <a  routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img class="nav-icon" src="@/../assets/icons/home.png" alt="">
  </a>
  <a  routerLink="/explore" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img class="nav-icon" src="@/../assets/icons/explore.png" alt="">
  </a>
  <div class="notif-icon-wrapper">
  <a  routerLink="/notifications" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img class="nav-icon notif-icon" src="@/../assets/icons/notifications.png" alt="">
  </a>
    <span class="notif-icon-notif">🔴</span>
</div>
<a  routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">
  <img class="nav-icon" src="@/../assets/icons/settings.png" alt="">
</a>
<a  routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
  <img class="nav-icon" src="@/../assets/icons/profile.png" alt="">
</a>
